<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Complete TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="addbb4">  <td>18/05/10 13:15:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestSuite.afterClass()[pri:0, instance:regressionsuite.TestNG_TestClass1@6d78f375]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="addbb4">  <td>18/05/10 13:15:03</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestSuite.afterClass()[pri:0, instance:regressionsuite.TestNG_TestClass2@2a2d45ba]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>18/05/10 13:15:03</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_TestClass1.afterMethod()[pri:0, instance:regressionsuite.TestNG_TestClass1@6d78f375]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>18/05/10 13:15:03</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_TestClass1.afterMethod()[pri:0, instance:regressionsuite.TestNG_TestClass1@6d78f375]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>18/05/10 13:15:03</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_TestClass2.afterMethod()[pri:0, instance:regressionsuite.TestNG_TestClass2@2a2d45ba]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>18/05/10 13:15:03</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_TestClass2.afterMethod()[pri:0, instance:regressionsuite.TestNG_TestClass2@2a2d45ba]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="addbb4">  <td>18/05/10 13:15:03</td>   <td>44</td> <td title="&lt;&lt;BaseTestSuite.afterSuite()[pri:0, instance:regressionsuite.TestNG_TestClass2@2a2d45ba]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="addbb4">  <td>18/05/10 13:15:03</td>   <td>1</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTestSuite.afterTest()[pri:0, instance:regressionsuite.TestNG_TestClass1@6d78f375]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="addbb4">  <td>18/05/10 13:15:03</td>   <td>38</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTestSuite.afterTest()[pri:0, instance:regressionsuite.TestNG_TestClass2@2a2d45ba]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="addbb4">  <td>18/05/10 13:15:03</td>   <td>-23</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTestSuite.beforeClass()[pri:0, instance:regressionsuite.TestNG_TestClass1@6d78f375]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="addbb4">  <td>18/05/10 13:15:03</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTestSuite.beforeClass()[pri:0, instance:regressionsuite.TestNG_TestClass2@2a2d45ba]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>18/05/10 13:15:03</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_TestClass1.beforeMethod()[pri:0, instance:regressionsuite.TestNG_TestClass1@6d78f375]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>18/05/10 13:15:03</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_TestClass1.beforeMethod()[pri:0, instance:regressionsuite.TestNG_TestClass1@6d78f375]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>18/05/10 13:15:03</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_TestClass2.beforeMethod()[pri:0, instance:regressionsuite.TestNG_TestClass2@2a2d45ba]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>18/05/10 13:15:03</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_TestClass2.beforeMethod()[pri:0, instance:regressionsuite.TestNG_TestClass2@2a2d45ba]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="addbb4">  <td>18/05/10 13:15:03</td>   <td>-34</td> <td title="&gt;&gt;BaseTestSuite.beforeSuite()[pri:0, instance:regressionsuite.TestNG_TestClass2@2a2d45ba]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="addbb4">  <td>18/05/10 13:15:03</td>   <td>-26</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTestSuite.beforeTest()[pri:0, instance:regressionsuite.TestNG_TestClass1@6d78f375]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="addbb4">  <td>18/05/10 13:15:03</td>   <td>31</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTestSuite.beforeTest()[pri:0, instance:regressionsuite.TestNG_TestClass2@2a2d45ba]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>18/05/10 13:15:03</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_TestClass1.cleanUp()[pri:0, instance:regressionsuite.TestNG_TestClass1@6d78f375]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>18/05/10 13:15:03</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_TestClass2.cleanUp()[pri:0, instance:regressionsuite.TestNG_TestClass2@2a2d45ba]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>18/05/10 13:15:03</td>   <td>-22</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_TestClass1.setUp()[pri:0, instance:regressionsuite.TestNG_TestClass1@6d78f375]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>18/05/10 13:15:03</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_TestClass2.setUp()[pri:0, instance:regressionsuite.TestNG_TestClass2@2a2d45ba]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>18/05/10 13:15:03</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_TestClass1.testMethod1()[pri:0, instance:regressionsuite.TestNG_TestClass1@6d78f375]">testMethod1</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>18/05/10 13:15:03</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_TestClass2.testMethod1()[pri:0, instance:regressionsuite.TestNG_TestClass2@2a2d45ba]">testMethod1</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>18/05/10 13:15:03</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_TestClass1.testMethod2()[pri:0, instance:regressionsuite.TestNG_TestClass1@6d78f375]">testMethod2</td> 
  <td>main@1509563803</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>18/05/10 13:15:03</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_TestClass2.testMethod2()[pri:0, instance:regressionsuite.TestNG_TestClass2@2a2d45ba]">testMethod2</td> 
  <td>main@1509563803</td>   <td></td> </tr>
</table>
