<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Preserve Enable Test Suit</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="64a765">  <td>18/05/10 13:34:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Preserve2.TestMethod1()[pri:0, instance:testclasses.TestNG_Preserve2@5afa04c]">TestMethod1</td> 
  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="9e63b8">  <td>18/05/10 13:34:24</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Preserve1.TestMethod1()[pri:0, instance:testclasses.TestNG_Preserve1@7921b0a2]">TestMethod1</td> 
  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>18/05/10 13:34:24</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Preserve2.TestMethod2()[pri:0, instance:testclasses.TestNG_Preserve2@5afa04c]">TestMethod2</td> 
  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="9e63b8">  <td>18/05/10 13:34:24</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Preserve1.TestMethod2()[pri:0, instance:testclasses.TestNG_Preserve1@7921b0a2]">TestMethod2</td> 
  <td>main@346861221</td>   <td></td> </tr>
</table>
