<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="64a765">  <td>18/05/10 12:18:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_EnableTimeout.setUp()[pri:0, instance:testclasses.TestNG_EnableTimeout@48eff760]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1379435698</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>18/05/10 12:18:43</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_EnableTimeout.testMethod2()[pri:0, instance:testclasses.TestNG_EnableTimeout@48eff760]">testMethod2</td> 
  <td>main@1379435698</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>18/05/10 12:18:44</td>   <td>123</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_EnableTimeout.cleanUp()[pri:0, instance:testclasses.TestNG_EnableTimeout@48eff760]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1379435698</td>   <td></td> </tr>
</table>
