<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>cars</td><td>TestNG_Grouping.testAudiA6()[pri:0, instance:testclasses.TestNG_Grouping@1810399e]<br/>TestNG_Grouping.testBMWX6()[pri:0, instance:testclasses.TestNG_Grouping@1810399e]<br/></td></tr>
<tr><td>sedan</td><td>TestNG_Grouping.testAudiA6()[pri:0, instance:testclasses.TestNG_Grouping@1810399e]<br/></td></tr>
<tr><td>suv</td><td>TestNG_Grouping.testBMWX6()[pri:0, instance:testclasses.TestNG_Grouping@1810399e]<br/></td></tr>
</table>
