<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6498a0">  <td>18/05/10 11:17:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_Grouping.beforeClass()[pri:0, instance:testclasses.TestNG_Grouping@1810399e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6498a0">  <td>18/05/10 11:17:39</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Grouping.testAudiA6()[pri:0, instance:testclasses.TestNG_Grouping@1810399e]">testAudiA6</td> 
  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6498a0">  <td>18/05/10 11:17:39</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Grouping.testBMWX6()[pri:0, instance:testclasses.TestNG_Grouping@1810399e]">testBMWX6</td> 
  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="6498a0">  <td>18/05/10 11:17:39</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_Grouping.afterClass()[pri:0, instance:testclasses.TestNG_Grouping@1810399e]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
</table>
